h1 {
  color: blue;
}

#ping {
  width: 5rem;
  height: 5rem;
}

/* Loading spinner styles */
#loadingSpinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Highlight row on hover */
table tbody tr:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}

/* Limit page height and make the table scrollable */
body,
html {
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Prevent scrolling on the whole page */
}

.container {
  height: 100vh;
  overflow: hidden;
}

.table-container {
  height: calc(100vh - 250px); /* Adjusted to fit within the page */
  overflow-y: auto;
  padding-right: 10px;
}

.form-container {
  padding-top: 20px;
}
