h1 {
  color: blue;
}

#ping {
  width: 5rem;
  height: 5rem;
}

#loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

th,
td {
  text-align: center;
}

table {
  width: 100%;
  table-layout: fixed;
}
/* Highlight row on hover */
table tbody tr:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Limit page height and make the table scrollable */
body,
html {
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Prevent scrolling on the whole page */
}

.container {
  height: 100vh;
  overflow: hidden;
}

.table-container {
  height: calc(100vh - 350px);
  overflow-y: auto;
  padding-right: 10px;
}

.form-container {
  padding-top: 20px;
}
